{% extends 'base.html' %}

{% block content %}

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Download</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ obj.Key }}</td>
        <td>{{ obj.Size|filesizeformat }}</td>
        <td><a href="{% url 'home:download_obj_bucket' obj.Key %}">download</a></td>
        <td><a href="{% url 'home:delete_obj_bucket' obj.Key %}">delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}