{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block content %}

    {% for category in categories %}
        <a href="{{ category.get_absolute_url }}" class="btn btn-info">{{ category.name }}</a>
    {% endfor %}
    <br/><br/>
    {% for product in products %}
        <div class="card" style="width: 18rem; display:inline-block;">
            <img src="{{ product.image.url }}" class="card-img-top">
            <div class="card-body">
                <a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
